safety_critical_systems
high_performance
reduced
several
references
mandatory_copy_elision
life_extension
universal_reference
structured_binding
ctad
map_homework
Embedded_Programming_with_ModernC++/.vscode/**
.idea/**
link_time_polymorphism/obj/**